ul {
    display: flex;
    width: 840px;
    margin: 0 auto;

}

ul li {
    width: 100px;
    overflow: hidden;
    transition: width 3s;
}

ul:hover li {
    width: 50px;
}

ul li:hover {
    width: 640px;
}