#chaofan{width: 100%;height: 3000px;}
.content{width: 1172px;height: 100%;margin:0 auto;}


/* ---------------hearder部分---------- */
.header{width: 100%;height: 83px;}
.header h1{width: 409px;height: 100%;text-indent: -999px;background:url(../images/logo.png) no-repeat left center;}

.header li{width: 70px;margin-left: 20px;text-align: center;}
.header li a{display:block;font-size: 14px; color: #333333;line-height: 83px;height: 83px;}
.header .yingwen{display:none;}
.header li:hover .zhongwen{display: none}
.header li:hover .yingwen{display: block;text-transform:uppercase;}

/* --------------banner部分-------------- */
.banner{width: 100%;height: 449px;}
.banner {background:url(../images/56f3527bb57ce.jpg) no-repeat center center;}

/* ---------------business部分-------------- */
.business{width: 100%;height: 726px;}
.business .business_title{width: 100%;height:168px;text-align: center;padding-top:40px;}
.business p{margin-top:17px;margin-bottom:49px;font-size: 18px;line-height: 30px;}
.box {
    width: 352px;
    height: 218px;
    position: relative;
    margin-bottom: 2px;}
    

.box span {
    position: absolute;
    width: 228px;
    height: 71px;
    line-height: 71px;
    text-align: center;
    
    top: 73px;
    left: 62px;}
.box .box1 {
    position: absolute;
    text-align: center;
    
    width: 100%;
    height: 100%;
    top: 0px;
    display: none;}
.box:hover .box1 {
    display: block;
    transition: height 1s;}


/* ------------------clients部分------------ */
.clients{width: 100%;height: 723px;background: #EBEFF1;padding-top:39px;}
.clients .clients_title{text-align: center;width: 100%;height: 146px;}
.clients .clients_title p{margin-top:24px;margin-bottom:55px;font-size: 18px;line-height: 18px;}
.clients .clients_img img{border-bottom:2px solid #EBEFF1;border-right: 2px solid #EBEFF1;}
.clients .clients_img span{display:none;position: absolute;top:0;left:0;}
.clients .clients_img li{position: relative;}
.clients .clients_img li:hover span{display:block;}


/* ------------------works部分---------------- */
.works{width: 100%;height: 723px;padding-top:39px;}
.works .works_title{text-align: center;width: 100%;height: 146px;}
.works .works_title p{margin-top:24px;margin-bottom:55px;font-size: 18px;line-height: 18px;}
.works .works_img img{border-bottom:4px solid #FFFFFF; }
.works .works_img{margin-bottom: 73px;}

/* ----------------news部分---------------- */
.news{width: 100%;height: 758px;padding-top: 42px;background: #71B2D0;}
.news .news_title{text-align: center;}
.news .news_title p{font-size: 18px;line-height: 18px;margin-top:25px;margin-bottom:55px;}


.news .news_main .main0{width: 516px;height: 167px;background: #fff;margin-bottom:15px;padding-right: 36px;}
.news .news_main .main0 h3{font-size: 14px;line-height: 14px;margin-top: 30px;margin-bottom: 14px;}
.news .news_main .main0 p{font-size:12px;line-height: 20px; }
.news .news_main img{margin-right: 18px;color: #777777;}
.news .news_main .main0 span{font-size: 14px;color:#777777;margin-top:18px;}

/*------------------ecxperience部分------------ */
.experience{width: 100%;height: 912px;}
.experience .experience_title{width: 100%;height: 145px;padding-top: 43px;}
.experience .experience_title{text-align: center;width: 100%;height: 146px;}
.experience .experience_title p{margin-top:24px;margin-bottom:55px;font-size: 18px;line-height: 18px;}
.experience .experience_image{width: 100%;height: 185px;text-align: center;margin-bottom: 50px;}

.shuzi{width: 100%;height: 222px;background:url(../images/blue-bg.png);}
.content .smallbox{width: 375px;height: 100%; float: left;border-right: 1px solid #0052A7;text-align: center}
.content .smallbox .span1{font-size: 67px; color: #fff;display: block;height: 67px;line-height: 67px;margin-top: 57px;margin-bottom: 31px;}
.content .smallbox .span2{position: absolute;height: 3px; width: 100%; background: url(../images/blue-bg.png);top: 50%;left: 50%;
transform: translate(-50%, -50%);}
.content .smallbox .list{position: relative;}



.contact{width: 100%;height: 402px;background: #000;}
.container{width: 1159px;height: 402px;background:#000;margin: auto;color:#fff;overflow: hidden;}
.container h2{font-size:50px;line-height: 50px;margin-top: 39px;text-align: center;font-weight: lighter;}
.container p{font-size: 24px;line-height: 24px;margin-top: 41px;text-align: center;font-weight: lighter;margin-bottom: 54px;}
.container .tu{width: 1163px;height: 51px;margin-bottom: 41px;}
.container .tu .main{width: 269px;height: 51px;float:left;margin-right: 29px;}
.container .tu img{vertical-align: middle;margin-right: 13px;}
.container .tu span{display: inline-block;vertical-align: middle;}
.container .list .list_0{width: 196px;height: 85px;border: 1px solid #999;line-height: 85px;padding-left: 70px;background: url(../images/foot_c1.png) no-repeat;margin-right: 29px;}
.container .list .list_1{width: 196px;height: 85px;border: 1px solid #999;line-height: 85px;padding-left: 70px;background: url(../images/foot_c2.png) no-repeat;margin-right: 29px;}
.container .list .list_2{width: 196px;height: 85px;border: 1px solid #999;line-height: 85px;padding-left: 70px;background: url(../images/foot_c3.png) no-repeat;margin-right: 29px;}
.container .list .list_3{width: 196px;height: 85px;border: 1px solid #999;line-height: 85px;padding-left: 70px;background: url(../images/foot_c4.png) no-repeat;}




