#header ul {
  display: flex;
}

#header ul li {
  flex: 1px;
  height: 44px;
}

#header ul li span {
  font-size: 40px;
}

#header li:nth-child(2) {
  flex: 5;
}

#header li:nth-child(1) {
  background: url(../images/ld.jpg) no-repeat center center;
}

#header li:nth-child(2) {
  background: url(../images/logo.png) no-repeat center center;
}

#banner {
  height: 210px;
  background: url(../images/banner1.jpg) no-repeat center center;
  background-size: contain;
}

#nav ul {
  display: flex;
}

#nav ul li {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

#nav ul li span {
  width: 40px;
  height: 40px;
  margin: 7px 0px 10px;
}

#nav ul li .icon1 {
  background: url(../images/icon1.png);
  background-size: contain;
}

#nav ul li .icon2 {
  background: url(../images/icon2.png);
  background-size: contain;
}

#nav ul li .icon3 {
  background: url(../images/icon3.png);
  background-size: contain;
}

#nav ul li .icon4 {
  background: url(../images/icon4.png);
  background-size: contain;
}

#nav ul li i {
  font-size: 8px;
}

#yjs {
  margin-top: 11px;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#yjs p {
  padding-left: 92px;
}

#yjs p span:nth-child(1) {
  font-size: 8px;
  display: inline-block;
  line-height: 12px;
  border: 1px solid #EEDDB1;
  color: #EEDDB1;
}

#yjs p span:nth-child(2) {
  font-size: 12px;
  margin-left: 4px;
}

#spbaner {
  padding: 0 12px 0 12px;
}

#spbaner .bn {
  background: url(../images/list1.jpg);
  height: 170px;
  background-size: contain;
}

#spbaner .sp ul {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  margin-bottom: 10px;
}

#spbaner .sp ul li {
  text-align: center;
}

#spbaner .sp ul li img {
  width: 100px;
  height: 100px;
}

#spbaner .sp ul li .p1 {
  font-size: 8px;
  line-height: 14px;
}

#spbaner .sp ul li .p2 {
  font-size: 12px;
  font-weight: 900;
}

#gyss {
  padding: 0 12px 0 12px;
}

#gyss .gyss_bg {
  height: 170px;
  background: url(../images/list2.jpg);
  background-size: contain;
}

#gyss .sp2 ul {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  margin-bottom: 10px;
}

#gyss .sp2 ul li {
  text-align: center;
}

#gyss .sp2 ul li img {
  width: 100px;
  height: 100px;
}

#gyss .sp2 ul li .p1 {
  font-size: 8px;
  line-height: 14px;
}

#gyss .sp2 ul li .p2 {
  font-size: 12px;
  font-weight: 900;
}

#lszc {
  padding: 0 12px 0 12px;
}

#lszc .lszc_bg {
  height: 170px;
  background: url(../images/list2.jpg);
  background-size: contain;
}

#lszc .sp3 ul {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  margin-bottom: 10px;
}

#lszc .sp3 ul li {
  text-align: center;
}

#lszc .sp3 ul li img {
  width: 100px;
  height: 100px;
}

#lszc .sp3 ul li .p1 {
  font-size: 8px;
  line-height: 14px;
}

#lszc .sp3 ul li .p2 {
  font-size: 12px;
  font-weight: 900;
}

#qqbm {
  padding-top: 30px;
  text-align: center;
  padding: 0 12px 0 12px;
}

#qqbm h2 {
  font-size: 13px;
  color: #000;
  line-height: 13px;
}

#qqbm p {
  font-size: 8px;
}

#qqbm ul {
  display: flex;
  overflow: auto;
  justify-content: space-around;
  margin-bottom: 10px;
  flex-wrap: wrap;
  background: #F0F0F0;
}

#qqbm ul li {
  text-align: center;
  background: #fff;
  width: 170px;
  margin-bottom: 10px;
}

#qqbm ul li img {
  width: 100px;
  height: 100px;
}

#qqbm ul li .p1 {
  font-size: 8px;
  line-height: 14px;
}

#qqbm ul li .p2 {
  font-size: 12px;
  font-weight: 900;
  color: #FC5082;
}

#bottom {
  height: 65px;
}

#bottom ul {
  display: flex;
  justify-content: space-around;
}

#bottom ul li {
  display: flex;
  flex-direction: column;
}

#bottom ul li span {
  display: inline-block;
  width: 46px;
  height: 40px;
  background: url(../images/01.png);
}

#bottom ul li .span2 {
  background-position: -0px -75px;
}

#bottom ul li .span3 {
  background-position: -0px -150px;
}

#bottom ul li .span4 {
  background-position: -0px -230px;
}

#bottom ul li:hover .span1 {
  background-position: -85px -0;
}

#bottom ul li:hover .span2 {
  background-position: -85px -75px;
}

#bottom ul li:hover .span3 {
  background-position: -80px -150px;
}

#bottom ul li:hover .span4 {
  background-position: -80px -220px;
}
